<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="ProvedorEstoque"
      connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EstoqueEntityModel.ProvedorEstoque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- Ao implantar o projeto de biblioteca de serviço, o conteúdo do arquivo de configuração deve ser adicionado ao arquivo de app.config 
 do host. O System.Configuration não oferece suporte a arquivos de configuração para bibliotecas. -->
  <system.serviceModel>
    <services>
      <service name="EstoqueLibrary.ServicoEstoque">
        <endpoint address="" binding="basicHttpBinding" contract="EstoqueLibrary.IServicoEstoque">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EstoqueLibrary/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar a divulgação de informações de metadados, 
          defina os valores abaixo para falso antes da implantação-->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, 
          defina o valor abaixo para verdadeiro. Defina para falto antes da implantação 
          para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
