<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEstoque" />
                <binding name="BasicHttpBinding_IServicoEstoqueV2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51459/ServicoEstoque.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoEstoque"
                contract="ServicoEstoque.IServicoEstoque" name="BasicHttpBinding_IServicoEstoque" />
        </client>
    </system.serviceModel>
</configuration>